# Supabase Configuration
SUPABASE_URL=https://ekklyllhuhgcbyjjcmwc.supabase.co
SUPABASE_ANON_KEY=sb_publishable_ELR434wdw7DJC7zUmv_5eQ_N4qrLSH8
SUPABASE_SERVICE_ROLE_KEY=

# Admin Credentials (Optional)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
